/* Reset */
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
	background: #ffffff;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
:root {
	--white: #ffffff;
	--black: #212429;
	--purple: #7048e8;
	--blue: #374fc7;
	--grey-3: #acb5bd;
	--grey-4: #495057;

	--primary: var(--blue);
	--secondary: var(--purple);
}
/* Button style */

body {
	text-align: center;
	padding-top: 100px;
}
button {
	font-size: 16px;
	line-height: 19px;
	margin: 0 15px;
}
.button__primary,
.button__primary-disabled {
	color: #ffffff;
	background: var(--primary);
	border-radius: 8px;
	width: 189px;
	height: 48px;
	transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}
.button__primary:hover {
	background: #2342c0;
}
.button__secondary,
.button__secondary-disabled {
	color: #ffffff;
	background: var(--secondary);
	border-radius: 8px;
	width: 189px;
	height: 48px;
	transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}
.button__secondary:hover {
	background: #5028c6;
}

.button__alternate,
.button__alternate-disabled {
	color: var(--grey-4);
	background: var(--white);
	border: 1px solid var(--grey-3);
	border-radius: 8px;
	width: 189px;
	height: 48px;
	transition: opacity 200ms ease-in-out, border 200ms ease-in-out;
}
.button__alternate:hover {
	border: 1px solid #212429;
}
.button__primary-disabled,
.button__secondary-disabled,
.button__alternate-disabled {
	cursor: default;
	opacity: 0.5;
}
