@import "../../03-lection1/01-button/button.css";

.modal {
	background-color: rgba(196, 196, 196, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}

.modal__window {
	max-width: 428px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--white);
	border-radius: 8px;
}
.modal__close {
	position: absolute;
	right: 15px;
	top: 15px;
}
.modal__body {
	font-family: "Inter", sans-serif;
	padding: 30px 40px 33px;
}
.modal__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	color: var(--black-1);
	margin-bottom: 14px;
}
.modal__text {
	font-size: 16px;
	line-height: 150%;
	color: var(--grey-4);
}
