/* Avatar style */

.avatar {
	position: relative;
	width: 102px;
	height: 102px;
	border-radius: 50%;
	overflow: hidden;
}

.avatar__img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.avatar_preview {
	width: 160px;
	height: 160px;
}
