@import "../fonts/fonts.css";

:root {
	--white: #ffffff;
	--black: #212429;
	--pink: #f784ad;
	--purple: #7048e8;
	--blue: #4263eb;
	--red: #f03d3e;
	--grey-1: #f8f9fa;
	--grey-2: #dde2e5;
	--grey-3: #acb5bd;
	--grey-4: #495057;
	--grey-5: #90a0b7;
	--grey-6: #e2e6e8;
	--grey-7: #f3f5f5;
	--grey-8: #e3e7ea;

	--pagebackground: #f9fafc;
	--black-1: #334d6e;

	--error: var(--red);
	--success: var(--blue);

	--primary: var(--blue);
	--secondary: var(--purple);
	--hoverprimary: #2342c0;
	--hoversecondary: #5028c6;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
}
