.ckeckbox {
	display: inline-flex;
	flex-direction: column;
}
.ckeckbox__input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.ckeckbox__state {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 15px;
}
.ckeckbox__control {
	display: inline-flex;
	width: 28px;
	height: 28px;
	background: var(--white);
	border: 1px solid var(--grey-2);
	box-sizing: border-box;
	border-radius: 4px;
	position: relative;
}
.checkbox__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}
.checkbox__label {
	display: inline-flex;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: var(--grey-4);
	margin-left: 12px;
}
.ckeckbox__input:focus ~ .ckeckbox__state .checkbox__label {
	text-decoration: underline;
}
.ckeckbox__input:checked ~ .ckeckbox__state .ckeckbox__control {
	background: var(--primary);
	border-color: var(--primary);
}
.ckeckbox__input:checked ~ .ckeckbox__state .ckeckbox__control svg {
	display: block;
}
.ckeckbox__input[disabled] ~ .ckeckbox__state {
	cursor: default;
	pointer-events: none;
}
.ckeckbox__input[disabled] ~ .ckeckbox__state .ckeckbox__control {
	background: var(--grey-2);
}
.ckeckbox__input[disabled] ~ .ckeckbox__state .checkbox__label {
	color: var(--grey-2);
}
