.preview__tabs > .preview__input,
.preview__tabs .preview__tabs-content {
	display: none;
}

#all-tab:checked ~ .preview__tabs-nav .preview__tabs-label[for="all-tab"],
#element-tab:checked ~ .preview__tabs-nav .preview__tabs-label[for="element-tab"],
#containers-tab:checked ~ .preview__tabs-nav .preview__tabs-label[for="containers-tab"],
#templates-tab:checked ~ .preview__tabs-nav .preview__tabs-label[for="templates-tab"] {
	color: var(--black);
	position: relative;
}

#all-tab:checked ~ .preview__tabs-nav .preview__tabs-label[for="all-tab"]:after,
#element-tab:checked ~ .preview__tabs-nav .preview__tabs-label[for="element-tab"]:after,
#containers-tab:checked ~ .preview__tabs-nav .preview__tabs-label[for="containers-tab"]:after,
#templates-tab:checked ~ .preview__tabs-nav .preview__tabs-label[for="templates-tab"]:after,
.preview__tabs-nav ~ .preview__tabs-label:hover:after {
	transform: scaleX(1);
}
.preview__tabs-menu > .preview__tabs-list .preview__tabs-label:hover,
.preview__tabs-menu > .preview__tabs-list .preview__tabs-label:active,
.preview__tabs-menu > .preview__tabs-list .preview__tabs-label:focus {
	color: var(--black);
}

#all-tab:checked ~ section .preview__tabs-content-1,
#element-tab:checked ~ section .preview__tabs-content-2,
#containers-tab:checked ~ section .preview__tabs-content-3,
#templates-tab:checked ~ section .preview__tabs-content-4 {
	display: block;
}
.preview__tabs-menu > .preview__tabs-list .preview__tabs-label:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	top: 100%;
	height: 5px;
	background-color: var(--black);
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

.preview__tabs-menu .preview {
	position: relative;
	background: var(--pagebackground);
}
.preview__grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}
.preview__tabs {
	/* padding: 67px 0px 204px 0px; */
}
.preview__input {
	display: none;
}
.preview__tabs-nav {
	overflow: hidden;
}

.preview__tabs-menu {
	display: flex;
	height: 40px;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.preview__tabs-list {
	display: flex;
	margin-right: 40px;
}
.preview__tabs-list:last-child {
	margin-right: 0;
}
.preview__tabs-label {
	font-family: "Inter", sans-serif;
	line-height: 24px;
	cursor: pointer;
	position: relative;
	color: var(--grey-3);
	padding: 8px 0;
	border-bottom: 5px solid transparent;
	display: inline-flex;
	transition: 250ms all;
	white-space: nowrap;
}

.preview__tabs-divider {
	position: absolute;
	width: 100vw;
	left: 50%;
	margin: 0;
	transform: translate(-50%, 0);
	height: 1px;
	background-color: var(--grey-2);
}

.preview__tabs-content {
	background-color: var(--pagebackground);
	padding: 67px 0px 204px;
}
