.preview {
	background: var(--pagebackground);
}
.preview__grid {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.preview__tabs {
	padding: 67px 0px 204px 0px;
}
.preview__card {
	padding: 30px 25px 30px 25px;
}
